@{
    ViewBag.Title = "Home Page";
}
@section Styles
{
<link rel="shortcut icon" href="~/Content/images/favicon.ico">

<!-- App css -->
<link href="~/Content/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
<link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
<!-- icons -->
<link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/common.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
}
<style>
    .modal-header {
        border-bottom: 1px solid #e6e6e6;
    }
    .text-total span:first-child {
        font-size: 56px;
    }
            
    .text-total span:last-child {
        font-size: 30px;
    }
    .bg-white {
        background-color: #f7f7f7!important;
    }
</style>
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div class="content-page pd-0-mobile">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid pd-0-mobile">
        <!-- Start Row 1-->
            <div class="row mt-5">
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Rice Cracker Line Energy</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Layer 1.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_ptotal_hienthi">@*@ViewBag.sumPtotal*@</span><span class="font-24"> kW</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture2-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_kwh_inday_hienthi">@*@ViewBag.sumKwhInday*@</span><span class="font-24"> kWh</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="sum_kwh_hienthi"> MWh</span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->

                </div> <!-- end col-->
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">GAS - Rice Cracker</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture3-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="gas_now">@*@ViewBag.gas.luu_luong_hien_tai*@</span><span class="font-24"> m3/h</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture1-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="gas_inday">@*@ViewBag.gas.luu_luong_tong_ngay*@</span><span class="font-24"> m3</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="gas_total">@*@ViewBag.gas.luu_luong_tong*@ m3</span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">WATER - Rice Cracker</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture4-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="water_now"></span><span class="font-24"></span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture5-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="water_inday"></span><span class="font-24"></span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="water_total"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
        <!--End row 1-->

        <!--Start row 2-->
            <div class="row mt-5">
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Snack Line Energy</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Layer 1.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_ptotal_hienthi1"></span><span class="font-24"> kW</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture2-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_kwh_inday_hienthi1"></span><span class="font-24"> kWh</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="sum_kwh_hienthi1"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->

                </div> <!-- end col-->
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">GAS - PC15</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture3-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="cng_pc15_now"></span><span class="font-24"> m3/h</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture1-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="cng_pc15_inday"></span><span class="font-24"> m3</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="cng_pc15_total"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">WATER - PC15</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture4-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="water_pc15_now"></span><span class="font-24"> m3/h</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture5-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="water_pc15_inday"></span><span class="font-24"> m3</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="water_pc15_total"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> 
        <!-- end row 2-->

        <!--Start row 3-->
            <div class="row mt-5">
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Total PC15 Energy</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Layer 1.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_ptotal_pc15"></span><span class="font-24"> kW</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture2-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_kwh_inday_pc15"></span><span class="font-24"> kWh</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="sum_kwh_pc15"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Total GAS</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture3-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="gas_sum_now"></span><span class="font-24"> m3/h</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture1-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="gas_sum_inday"></span><span class="font-24"> m3</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="gas_sum_total"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Total WATER</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture4-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="water_sum_now"></span><span class="font-24"> m3/h</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture5-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="water_sum_inday"></span><span class="font-24"> m3</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="water_sum_total"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
        <!-- end row 3-->

        <!--Start row 4-->
            <div class="row mt-5">
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Total Snack Energy</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Layer 1.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_ptotal_snack"></span><span class="font-24"> kW</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture2-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_kwh_inday_snack"></span><span class="font-24"> kWh</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="sum_kwh_snack"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
                
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Total Solar Energy</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Layer 1.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_ptotal_solar"></span><span class="font-24"> kW</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture2-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="sum_kwh_inday_solar"></span><span class="font-24"> kWh</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="sum_kwh_solar"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Total Steam</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture4-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="steam_sum_now"></span><span class="font-24"> m3/h</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture5-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="steam_sum_inday"></span><span class="font-24"> m3</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="steam_sum_total"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
        <!-- end row 4-->
            <!--Start row 4-->
            <div class="row mt-5">
                <div class="col-xl-4 col-md-4">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20" style="background-color: #4181CB; color: #FFFFFF">Logistics Energy</h5>
                        <div class="card-body bg-white">
                            <h3 class="text-center font-24">Current PV Power</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Layer 1.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="logistic_ptotal"></span><span class="font-24"> kW</span>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                        <div class="card-body bg-white border-top">
                            <h3 class="text-center font-24">PV Entry</h3>
                            <div class="flex-wrap d-flex align-items-center justify-content-center">
                                <img src="~/Content/images/energy-overview/Picture2-removebg-preview.png" height="60" class="mr-3" alt="">
                                <div class="text-total">
                                    <span id="logistic_kwh_inday"></span><span class="font-24"> kWh</span>
                                    <p class="d-block font-16">Today</p>
                                </div>
                            </div>
                            <p class="text-center font-16 mt-3">Total: <span id="logistic_kwh"></span></p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->

                </div> <!-- end col-->
            </div>
        <!-- end row 5-->


        </div> <!-- container -->

    </div> <!-- content -->
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <span class="font-16">Energy from: <strong>20/09/2020</strong></span>
            </div>
            <div class="col-md-6" style="text-align: right">
                <span class="font-16"><strong id="getTime">@DateTime.Now.DayOfWeek, @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</strong></span>
            </div>
        </div>
    </div>
</footer>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/vendor.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js" type="text/javascript"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>

<script src="~/Content/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="~/Content/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Content/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

<!-- Dashboard 2 init -->
<script src="~/Content/js/pages/dashboard-2.init.js"></script>
<!-- App js-->
<script src="~/Content/js/app.min.js"></script>

<script type="text/javascript">
    var myVar;
    
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

    $(document).ready(function () {
        var chartHub = $.connection.chartHub;
        $.connection.hub.start().done(function () {
            chartHub.server.initEneryOveriew();
        });

        chartHub.client.updateEneryOverview = function (data_hienthi) {
            //Gas
            $('#gas_now').html(addCommas(data_hienthi[0].luu_luong_hien_tai));
            $('#gas_inday').html(addCommas(data_hienthi[0].luu_luong_tong_ngay));
            $('#gas_total').html(addCommas(data_hienthi[0].luu_luong_tong) + " m3");
            //Water
            $('#water_now').html(addCommas(data_hienthi[1].luu_luong_hien_tai));
            $('#water_inday').html(addCommas(data_hienthi[1].luu_luong_tong_ngay));
            $('#water_total').html(addCommas(data_hienthi[1].luu_luong_tong) + " m3");
            // hien thi
            $('#sum_ptotal_hienthi').html(addCommas(data_hienthi[2].Ptotal));
            $('#sum_kwh_inday_hienthi').html(addCommas(data_hienthi[2].KWhDay));
            $('#sum_kwh_hienthi').html(addCommas(data_hienthi[2].Kwh) + " MWh");
            // hien thi 1
            $('#sum_ptotal_hienthi1').html(addCommas(data_hienthi[3].Ptotal));
            $('#sum_kwh_inday_hienthi1').html(addCommas(data_hienthi[3].KWhDay));
            $('#sum_kwh_hienthi1').html(addCommas(data_hienthi[3].Kwh) + " MWh");
            //Gas PC15
            $('#cng_pc15_now').html(addCommas(data_hienthi[4].luu_luong_hien_tai));
            $('#cng_pc15_inday').html(addCommas(data_hienthi[4].luu_luong_tong_ngay));
            $('#cng_pc15_total').html(addCommas(data_hienthi[4].luu_luong_tong) + " m3");
            //Water PC15
            $('#water_pc15_now').html(addCommas(data_hienthi[5].luu_luong_hien_tai));
            $('#water_pc15_inday').html(addCommas(data_hienthi[5].luu_luong_tong_ngay));
            $('#water_pc15_total').html(addCommas(data_hienthi[5].luu_luong_tong) + " m3");
            // Sum Snack Energy
            $('#sum_ptotal_snack').html(addCommas(data_hienthi[6].Ptotal));
            $('#sum_kwh_inday_snack').html(addCommas(data_hienthi[6].KWhDay));
            $('#sum_kwh_snack').html(addCommas(data_hienthi[6].Kwh) + " MWh");
            // Sum Gas
            $('#gas_sum_now').html(addCommas(data_hienthi[7].luu_luong_hien_tai));
            $('#gas_sum_inday').html(addCommas(data_hienthi[7].luu_luong_tong_ngay));
            $('#gas_sum_total').html(addCommas(data_hienthi[7].luu_luong_tong) + " m3");
            // Sum Water
            $('#water_sum_now').html(addCommas(data_hienthi[8].luu_luong_hien_tai));
            $('#water_sum_inday').html(addCommas(data_hienthi[8].luu_luong_tong_ngay));
            $('#water_sum_total').html(addCommas(data_hienthi[8].luu_luong_tong) + " m3");
            // Sum PC15
            $('#sum_ptotal_pc15').html(addCommas(data_hienthi[9].Ptotal));
            $('#sum_kwh_inday_pc15').html(addCommas(data_hienthi[9].KWhDay));
            $('#sum_kwh_pc15').html(addCommas(data_hienthi[9].Kwh) + " MWh");
            // Sum Solar
            $('#sum_ptotal_solar').html(addCommas(data_hienthi[10].Ptotal));
            $('#sum_kwh_inday_solar').html(addCommas(data_hienthi[10].KWhDay));
            $('#sum_kwh_solar').html(addCommas(data_hienthi[10].Kwh) + " MWh");
            // Sum Water
            $('#steam_sum_now').html(addCommas(data_hienthi[11].luu_luong_hien_tai));
            $('#steam_sum_inday').html(addCommas(data_hienthi[11].luu_luong_tong_ngay));
            $('#steam_sum_total').html(addCommas(data_hienthi[11].luu_luong_tong) + " m3");
            // Sum Logistic
            $('#logistic_ptotal').html(addCommas(data_hienthi[12].Ptotal));
            $('#logistic_kwh_inday').html(addCommas(data_hienthi[12].KWhDay));
            $('#logistic_kwh').html(addCommas(data_hienthi[12].Kwh) + " MWh");
        };

        myVar = setInterval(function () {
            var currentdate = new Date();
            var today = weekday[currentdate.getDay()];
            var datetime = today + ", "
                + currentdate.getDate() + "/"
                + (currentdate.getMonth() + 1) + "/"
                + currentdate.getFullYear() + " "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
            $("#getTime").html(datetime)
        }, 100);
    });

</script>
