@{
    ViewBag.Title = "Overview Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
}
<style>
    .table-total {
        color: #fff;
        text-align: center;
    }
            
    .table-total th {
        background: green;
    }
</style>
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page pd-0-mobile">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid pd-0-mobile">
            <div class="row mt-5">
                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">GAS-Rice Cracker 1</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Hiện tại (m3/h)</th>
                                            <th>Tổng (m3)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Gas-Rice Cracker 1</td>
                                            <td id="gas_now"></td>
                                            <td id="gas_total"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">WATER-Rice Cracker 1</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Hiện tại (m3/h)</th>
                                            <th>Tổng (m3)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Water-Rice Cracker 1</td>
                                            <td id="water_now"></td>
                                            <td id="water_total"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">Rice Cracker Line Energy</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Total KW</th>
                                            <th>Total KWh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>LP-Rice Cracker 1</td>
                                            <td id="kenh2_ptotal"></td>
                                            <td id="kenh2_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>LP-Rice Cracker 2</td>
                                            <td id="kenh3_ptotal"></td>
                                            <td id="kenh3_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DP-Rice Cracker 1</td>
                                            <td id="kenh5_ptotal"></td>
                                            <td id="kenh5_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DP-Rice Cracker 2</td>
                                            <td id="kenh4_ptotal"></td>
                                            <td id="kenh4_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DP-Rice Cracker 3</td>
                                            <td id="kenh6_ptotal"></td>
                                            <td id="kenh6_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td id="total_kw"></td>
                                            <td id="total_kwh"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">Snack Line Energy</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Total KW</th>
                                            <th>Total KWh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>DB-PC 10</td>
                                            <td id="snack5_ptotal"></td>
                                            <td id="snack5_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DB-Snack 1</td>
                                            <td id="snack6_ptotal"></td>
                                            <td id="snack6_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DB-Snack 2</td>
                                            <td id="snack7_ptotal"></td>
                                            <td id="snack7_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DB-Snack 3</td>
                                            <td id="snack8_ptotal"></td>
                                            <td id="snack8_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DB-Snack 4</td>
                                            <td id="snack9_ptotal"></td>
                                            <td id="snack9_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>LP-Snack 1</td>
                                            <td id="snack11_ptotal"></td>
                                            <td id="snack11_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td id="total_snack_kw"></td>
                                            <td id="total_snack_kwh"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                       <h5 class="card-header text-center font-20">Total PC15 Energy</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Total KW</th>
                                            <th>Total KWh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>DB-PC 15</td>
                                            <td id="snack4_ptotal"></td>
                                            <td id="snack4_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>LP-PC 15</td>
                                            <td id="snack10_ptotal"></td>
                                            <td id="snack10_kwh"></td>
                                        </tr>

                                        <tr>
                                            <td>Total</td>
                                            <td id="total_pc15_kw"></td>
                                            <td id="total_pc15_kwh"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">Solar Energy</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Total KW</th>
                                            <th>Total KWh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>DB-Solar 1</td>
                                            <td id="solar1_ptotal"></td>
                                            <td id="solar1_kwh"></td>
                                        </tr>
                                        <tr>
                                            <td>DB-Solar 2</td>
                                            <td id="solar2_ptotal"></td>
                                            <td id="solar2_kwh"></td>
                                        </tr>

                                        <tr>
                                            <td>Total</td>
                                            <td id="total_solar_kw"></td>
                                            <td id="total_solar_kwh"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">Logistics Energy</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Total KW</th>
                                            <th>Total KWh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>DB-Logistics</td>
                                            <td id="logistic_ptotal"></td>
                                            <td id="logistic_kwh"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">WATER-PC15</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Hiện tại (m3/h)</th>
                                            <th>Tổng (m3)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Water-PC15</td>
                                            <td id="water_pc15_now"></td>
                                            <td id="water_pc15_total"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">STEAM</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Hiện tại (m3/h)</th>
                                            <th>Tổng (m3)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Steam PC10</td>
                                            <td id="steam_pc10_now"></td>
                                            <td id="steam_pc10_total"></td>
                                        </tr>
                                        <tr>
                                            <td>Steam PC15</td>
                                            <td id="steam_pc15_now"></td>
                                            <td id="steam_pc15_total"></td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td id="sum_steam_now"></td>
                                            <td id="sum_steam_total"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20">GAS-PC15</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0 table-total">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Hiện tại (m3/h)</th>
                                            <th>Tổng (m3)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Gas-PC15</td>
                                            <td id="gas_pc15_now"></td>
                                            <td id="gas_pc15_total"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->
                
            </div>
        </div> <!-- container -->

    </div> <!-- content -->

</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <span class="font-16">Energy from: <strong>20/09/2020</strong></span>
            </div>
            <div class="col-md-6" style="text-align: right">
                <span class="font-16"><strong id="getTime">@DateTime.Now.DayOfWeek, @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</strong></span>
            </div>
        </div>
    </div>
</footer>
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="~/Content/js/vendor.min.js"></script>


<script src="~/Content/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="~/Content/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Content/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js" type="text/javascript"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>
<!-- Dashboard 2 init -->
<script src="~/Content/js/pages/dashboard-2.init.js"></script>
<!-- App js-->
<script src="~/Content/js/app.min.js"></script>

<script type="text/javascript">
    var myVar;

    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

    $(document).ready(function () { 
        var chartHub = $.connection.chartHub;
        $.connection.hub.start().done(function () {
            chartHub.server.initOveriew();
        });

        
        chartHub.client.updateOverview = function (data_hienthi) {
            if (data_hienthi) {
                $('#gas_now').html(addCommas(data_hienthi[0].luu_luong_hien_tai));
                $('#gas_total').html(addCommas(data_hienthi[0].luu_luong_tong));
                $('#water_now').html(addCommas(data_hienthi[1].luu_luong_hien_tai));
                $('#water_total').html(addCommas(data_hienthi[1].luu_luong_tong));
                var data_kenh = data_hienthi[2] || [];
                var total_kw = data_hienthi[3] || 0;
                var total_kwh = data_hienthi[4] || 0;
                var data_snack = data_hienthi[5] || [];
                var total_snack_kw = data_hienthi[6] || 0;
                var total_snack_kwh = data_hienthi[7] || 0;
                var total_pc15_kw = data_hienthi[8] || 0;
                var total_pc15_kwh = data_hienthi[9] || 0;
                var total_solar_kw = data_hienthi[10] || 0;
                var total_solar_kwh = data_hienthi[11] || 0;
                if (data_kenh) {
                    for (i = 0; i < data_kenh.length; i++) {
                        switch (data_kenh[i].Kenh) {
                            case "1":
                                $('#kenh1_ptotal').html(addCommas(data_kenh[i].Ptotal));
                                $('#kenh1_kwh').html(addCommas(data_kenh[i].Kwh));
                                break;
                            case "2":
                                $('#kenh2_ptotal').html(addCommas(data_kenh[i].Ptotal));
                                $('#kenh2_kwh').html(addCommas(data_kenh[i].Kwh));
                                break;
                            case "3":
                                $('#kenh3_ptotal').html(addCommas(data_kenh[i].Ptotal));
                                $('#kenh3_kwh').html(addCommas(data_kenh[i].Kwh));
                                break;
                            case "4":
                                $('#kenh4_ptotal').html(addCommas(data_kenh[i].Ptotal));
                                $('#kenh4_kwh').html(addCommas(data_kenh[i].Kwh));
                                break;
                            case "5":
                                $('#kenh5_ptotal').html(addCommas(data_kenh[i].Ptotal));
                                $('#kenh5_kwh').html(addCommas(data_kenh[i].Kwh));
                                break;
                            case "6":
                                $('#kenh6_ptotal').html(addCommas(data_kenh[i].Ptotal));
                                $('#kenh6_kwh').html(addCommas(data_kenh[i].Kwh));
                                break;
                            default:
                                break;
                        }
                        //total_kw += parseFloat(data_kenh[i].Ptotal);
                        //total_kwh += parseFloat(data_kenh[i].Kwh);
                    }
                    $('#total_kw').html(addCommas(total_kw));
                    total_kwh = Math.round((total_kwh / 1000) * 10) / 10;
                    $('#total_kwh').html(addCommas(total_kwh) + " MWh")
                }

                if (data_snack) {
                    for (i = 0; i < data_snack.length; i++) {
                        switch (data_snack[i].Kenh) {
                            case "1":
                                $('#solar1_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#solar1_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "2":
                                $('#solar2_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#solar2_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "3":
                                $('#logistic_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#logistic_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "4":
                                $('#snack4_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack4_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "5":
                                $('#snack5_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack5_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "6":
                                $('#snack6_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack6_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "7":
                                $('#snack7_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack7_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "8":
                                $('#snack8_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack8_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "9":
                                $('#snack9_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack9_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            case "10":
                                $('#snack10_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack10_kwh').html(addCommas(data_snack[i].Kwh));
                            case "11":
                                $('#snack11_ptotal').html(addCommas(data_snack[i].Ptotal));
                                $('#snack11_kwh').html(addCommas(data_snack[i].Kwh));
                                break;
                            default:
                                break;
                        }
                        //total_kw += parseFloat(data_kenh[i].Ptotal);
                        //total_kwh += parseFloat(data_kenh[i].Kwh);
                    }
                    $('#total_snack_kw').html(addCommas(total_snack_kw));
                    total_snack_kwh = Math.round((total_snack_kwh / 1000) * 10) / 10;
                    $('#total_snack_kwh').html(addCommas(total_snack_kwh) + " MWh");

                    $('#total_pc15_kw').html(addCommas(total_pc15_kw));
                    total_pc15_kwh = Math.round((total_pc15_kwh / 1000) * 10) / 10;
                    $('#total_pc15_kwh').html(addCommas(total_pc15_kwh) + " MWh");

                    $('#total_solar_kw').html(addCommas(total_solar_kw));
                    total_solar_kwh = Math.round((total_solar_kwh / 1000) * 10) / 10;
                    $('#total_solar_kwh').html(addCommas(total_solar_kwh) + " MWh");
                }
                $('#water_pc15_now').html(addCommas(data_hienthi[12].luu_luong_hien_tai));
                $('#water_pc15_total').html(addCommas(data_hienthi[12].luu_luong_tong));
                $('#steam_pc10_now').html(addCommas(data_hienthi[13].luu_luong_hien_tai));
                $('#steam_pc10_total').html(addCommas(data_hienthi[13].luu_luong_tong));
                $('#steam_pc15_now').html(addCommas(data_hienthi[14].luu_luong_hien_tai));
                $('#steam_pc15_total').html(addCommas(data_hienthi[14].luu_luong_tong));
                var sum_steam_now = data_hienthi[15] || 0;
                var sum_steam_total = data_hienthi[16] || 0;
                $('#sum_steam_now').html(addCommas(sum_steam_now));
                $('#sum_steam_total').html(addCommas(sum_steam_total));
                $('#gas_pc15_now').html(addCommas(data_hienthi[17].luu_luong_hien_tai));
                $('#gas_pc15_total').html(addCommas(data_hienthi[17].luu_luong_tong));



            }
        };
        myVar = setInterval(function () {
            // Get current time
            var currentdate = new Date();
            var today = weekday[currentdate.getDay()];
            var datetime = today + ", "
                + currentdate.getDate() + "/"
                + (currentdate.getMonth() + 1) + "/"
                + currentdate.getFullYear() + " "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
            $("#getTime").html(datetime)
        }, 100);
    });
    
    //function getOverviewData() {
    //    var hienthi_data = {};
    //    $.ajax({
    //        url: '/Home/GetOverViewData/',
    //        type: 'get',
    //        async: false,
    //        success: function (data) {
    //            hienthi_data = data;
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            var errorMsg = 'Ajax request failed: ' + xhr.responseText;
    //            $('#content').html(errorMsg);
    //        }
    //    });
    //    return hienthi_data;
    //}

    
</script>
