@{
    ViewBag.Title = "Electric 2-2 Page";
}
@section Styles
{
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
}
<style>
    .modal-header {
        border-bottom: 1px solid #e6e6e6;
    }
</style>
<div class="content-page pd-0-mobile">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid pd-0-mobile">
            <div class="row mt-5">
                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="4"><span class="chart_color" id="kenh4_status" style="background:red"></span>DB-PC 15</h5>
                        <div class="card-body">
                            <div id="cardCollpase23" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh4A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh4B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="5"><span class="chart_color" id="kenh5_status" style="background:red"></span>DB-PC 10</h5>
                        <div class="card-body">
                            <div id="cardCollpase24" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh5A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh5B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="6"><span class="chart_color" id="kenh6_status" style="background:red"></span>DP-SNACK 1</h5>
                        <div class="card-body">
                            <div id="cardCollpase24" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh6A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh6B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="7"><span class="chart_color" id="kenh7_status" style="background:red"></span>DP-SNACK 2</h5>
                        <div class="card-body">
                            <div id="cardCollpase24" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh7A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh7B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="8"><span class="chart_color" id="kenh8_status" style="background:red"></span>DP-SNACK 3</h5>
                        <div class="card-body">
                            <div id="cardCollpase24" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh8A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh8B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="9"><span class="chart_color" id="kenh9_status" style="background:red"></span>DP-SNACK 4</h5>
                        <div class="card-body">
                            <div id="cardCollpase24" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh9A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh9B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="10"><span class="chart_color" id="kenh10_status" style="background:red"></span>LP-PC 15</h5>
                        <div class="card-body">
                            <div id="cardCollpase24" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh10A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh10B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <div class="card bg-card">
                        <h5 class="card-header text-center font-20 show-kenh" data-value="11"><span class="chart_color" id="kenh11_status" style="background:red"></span>LP-SNACK 1</h5>
                        <div class="card-body">
                            <div id="cardCollpase24" class="pt-3 d-flex justify-content-around flex-sm-column0 highcharts-figure" dir="ltr">
                                <div id="chartKenh11A" class="chart-container" data-colors="#f1556c"></div>
                                <div id="chartKenh11B" class="chart-container" data-colors="#f1556c"></div>
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col-->

            </div>
        </div>
    </div>
</div>

<!-- Modal popup click -->
<!-- Center modal content -->
<div class="modal fade" id="centermodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myCenterModalLabel">Center modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body bg-card">
                <div class="main-container">
                    <div class="container">
                        <div class="container_box">
                            <section class="section-01">
                                <div class="section-content">
                                    <p class="title">Volts II</p>
                                    <div class="box box-01">
                                        <p class="box-title">Current</p>
                                        <div class="box-cnt">
                                            <span id="Cac">375</span>
                                            <span> A c</span>
                                        </div>
                                    </div>
                                    <div class="box box-02">
                                        <p class="box-title">Power</p>
                                        <div class="box-cnt">
                                            <span id="Pc">375</span>
                                            <span>kW c</span>
                                        </div>
                                    </div>
                                    <div class="box box-19">
                                        <p class="box-title">Frequency</p>
                                        <div class="box-cnt">
                                            <span id="F">50.11</span>
                                            <span>Hz</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-01"></div>
                                <div class="arrow-01"></div>
                                <div class="arrow-02"></div>
                            </section>
                            <section class="section-02">
                                <div class="section-content">
                                    <div class="box box-03">
                                        <div class="box-cnt">
                                            <span id="Vbc">482</span>
                                            <span>V bc</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrow-03"></div>
                            </section>
                            <section class="section-03">
                                <div class="section-content">
                                    <div class="box box-04">
                                        <div class="box-cnt">
                                            <span id="Vca">480</span>
                                            <span>V ca</span>
                                        </div>
                                    </div>
                                    <div class="box box-05">
                                        <div class="box-cnt">
                                            <span id="Cab">1,548 </span>
                                            <span>A b</span>
                                        </div>
                                    </div>
                                    <div class="box box-06">
                                        <div class="box-cnt">
                                            <span id="Pb">407 </span>
                                            <span>kW b</span>
                                        </div>
                                    </div>
                                    <div class="box box-20">
                                        <p class="box-title">Power Factor</p>
                                        <div class="box-cnt">
                                            <span id="PF">94.2</span>
                                            <span> %</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-02"></div>
                            </section>
                            <section class="section-04">
                                <div class="section-content">
                                    <div class="box box-03">
                                        <div class="box-cnt">
                                            <span id="Vab">480 </span>
                                            <span>V ab</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="section-05">
                                <div class="section-content">
                                    <div class="box box-08">
                                        <div class="box-cnt">
                                            <span id="Caa">1,793 </span>
                                            <span>A a</span>
                                        </div>
                                    </div>
                                    <div class="box box-09">
                                        <div class="box-cnt">
                                            <span id="Pa">468 </span>
                                            <span>kW a</span>
                                        </div>
                                    </div>
                                    <div class="box box-21">
                                        <p class="box-title">kWh</p>
                                        <div class="box-cnt">
                                            <span id="Kwh">233333</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-03"></div>
                            </section>
                            <section class="section-06">
                                <div class="section-content">
                                    <div class="box box-10">
                                        <p class="box-title">kW total</p>
                                        <div class="box-cnt">
                                            <span id="Ptotal">1,250 </span>
                                            <span>kW</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="section-07">
                                <div class="section-content">
                                    <div class="box box-11">
                                        <p class="box-title">% V unbal</p>
                                        <div class="box-cnt">
                                            <span id="Vun">0.3</span>
                                        </div>
                                    </div>
                                    <div class="box box-12">
                                        <p class="box-title">I average</p>
                                        <div class="box-cnt">
                                            <span id="Civg">1,591 </span>
                                            <span>A</span>
                                        </div>
                                    </div>
                                    <div class="box box-13">
                                        <p class="box-title">kVAR total</p>
                                        <div class="box-cnt">
                                            <span id="Pkvar">446 </span>
                                            <span>kVAR</span>
                                        </div>
                                    </div>
                                    <div class="box box-14">
                                        <div class="box-cnt">
                                            <span id="Van">277 </span>
                                            <span>V an</span>
                                        </div>
                                    </div>
                                    <div class="box box-15">
                                        <div class="box-cnt">
                                            <span id="Vbn">279 </span>
                                            <span>V bn</span>
                                        </div>
                                    </div>
                                    <div class="box box-16">
                                        <div class="box-cnt">
                                            <span id="Vcn">278 </span>
                                            <span>V cn</span>
                                        </div>
                                    </div>
                                    <div class="box box-22">
                                        <p class="box-title">VIn average</p>
                                        <div class="box-cnt">
                                            <span id="Vin">278 </span>
                                            <span>V</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="section-08">
                                <div class="section-content">
                                    <div class="box box-17">
                                        <p class="box-title">VII average</p>
                                        <div class="box-cnt">
                                            <span id="VII">481 </span>
                                            <span>V</span>
                                        </div>
                                    </div>
                                    <div class="box box-18">
                                        <p class="box-title">kVA Total</p>
                                        <div class="box-cnt">
                                            <span id="Pkva">1,327 </span>
                                            <span>kVA</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-04"></div>
                                <div class="arrow-04"></div>
                                <div class="arrow-05"></div>
                                <div class="arrow-06"></div>
                            </section>
                            <section class="section-09">
                                <p class="title">Volts In</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

@*<script src="~/Scripts/highcharts/highcharts.js"></script>
    <script src="~/Scripts/highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/highcharts/solid-gauge.js"></script>
    <script src="~/Scripts/highcharts/exporting.js"></script>
    <script src="~/Scripts/highcharts/export-data.js"></script>
    <script src="~/Scripts/highcharts/accessibility.js"></script>*@


<script src="~/Content/js/vendor.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js" type="text/javascript"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>

<script src="~/Content/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="~/Content/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Content/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

<!-- Dashboard 2 init -->
<script src="~/Content/js/pages/dashboard-2.init.js"></script>
<!-- App js-->
<script src="~/Content/js/app.min.js"></script>
<script type="text/javascript">
    function GetChartKenh4Data() {
        var chartKenh4 = {};
        $.ajax({
            url: '/Snack/GetChartKenh4Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh4 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh4;
    }

    function GetChartKenh5Data() {
        var chartKenh5 = {};
        $.ajax({
            url: '/Snack/GetChartKenh5Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh5 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh5;
    }

    function GetChartKenh6Data() {
        var chartKenh6 = {};
        $.ajax({
            url: '/Snack/GetChartKenh6Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh6 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh6;
    }

    function GetChartKenh7Data() {
        var chartKenh7 = {};
        $.ajax({
            url: '/Snack/GetChartKenh7Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh7 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh7;
    }

    function GetChartKenh8Data() {
        var chartKenh8 = {};
        $.ajax({
            url: '/Snack/GetChartKenh8Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh8 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh8;
    }

    function GetChartKenh9Data() {
        var chartKenh9 = {};
        $.ajax({
            url: '/Snack/GetChartKenh9Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh9 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh9;
    }

    function GetChartKenh10Data() {
        var chartKenh10 = {};
        $.ajax({
            url: '/Snack/GetChartKenh10Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh10 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh10;
    }

    function GetChartKenh11Data() {
        var chartKenh11 = {};
        $.ajax({
            url: '/Snack/GetChartKenh11Data/',
            type: 'get',
            async: false,
            success: function (data) {
                chartKenh11 = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return chartKenh11;
    }

    var kenh4 = GetChartKenh4Data();
    var kenh5 = GetChartKenh5Data();
    var kenh6 = GetChartKenh6Data();
    var kenh7 = GetChartKenh7Data();
    var kenh8 = GetChartKenh8Data();
    var kenh9 = GetChartKenh9Data();
    var kenh10 = GetChartKenh10Data();
    var kenh11 = GetChartKenh11Data();


    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        //Create the Hub
        var chartHub = $.connection.chartHub;
        //Call InitChartData
        $.connection.hub.start().done(function () {
            chartHub.server.initChartDataElectric2();
        });

        //Call to Update LineChart from Server
        chartHub.client.UpdateChartElectric2 = function (kenh4_data, kenh5_data, kenh6_data, kenh7_data, kenh8_data, kenh9_data, kenh10_data, kenh11_data) {
            UpdateKenh4Chart(kenh4_data);
            UpdateKenh5Chart(kenh5_data);
            UpdateKenh6Chart(kenh6_data);
            UpdateKenh7Chart(kenh7_data);
            UpdateKenh8Chart(kenh8_data);
            UpdateKenh9Chart(kenh9_data);
            UpdateKenh10Chart(kenh10_data);
            UpdateKenh11Chart(kenh11_data);
        };

        chartHub.client.updatePopupHienThi1 = function (data_hienthi) {
            $('#Vca').html(data_hienthi.Vca)
            $('#Vbc').html(data_hienthi.Vbc)
            $('#Vab').html(data_hienthi.Vab)
            $('#Vun').html(data_hienthi.Vun)
            $('#VII').html(data_hienthi.VII)
            $('#Cac').html(data_hienthi.Cac)
            $('#Cab').html(data_hienthi.Cab)
            $('#Caa').html(data_hienthi.Caa)
            $('#Civg').html(data_hienthi.Civg)
            $('#Pc').html(data_hienthi.Pc)
            $('#Pb').html(data_hienthi.Pb)
            $('#Pa').html(data_hienthi.Pa)
            $('#Ptotal').html(data_hienthi.Ptotal)
            $('#Pkvar').html(data_hienthi.Pkvar)
            $('#Pkva').html(data_hienthi.Pkva)
            $('#Van').html(data_hienthi.Van)
            $('#Vbn').html(data_hienthi.Vbn)
            $('#Vcn').html(data_hienthi.Vcn)
            $('#F').html(data_hienthi.F)
            $('#PF').html(data_hienthi.PF)
            $('#Kwh').html(data_hienthi.Kwh)
            $('#Vin').html(data_hienthi.Vin)
        };

        $(".show-kenh").on("click", function () {
            $('#centermodal').modal('show');
            kenh = $(this).attr('data-value');
            chartHub.server.sendKenhElectric2(kenh);
        });

    });
   
    // Update Chart Kenh4
    function UpdateKenh4Chart(data) {
        if (chartKenh4A) {
            point = chartKenh4A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh4B) {
            point = chartKenh4B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh4_status').css('background', 'green');
        }
        else {
            $('#kenh4_status').css('background', 'red');
        }
    }
    // Update Chart Kenh2
    function UpdateKenh5Chart(data) {
        if (chartKenh5A) {
            point = chartKenh5A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh5B) {
            point = chartKenh5B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh5_status').css('background', 'green');
        }
        else {
            $('#kenh5_status').css('background', 'red');
        }
    }
    // Update Chart Kenh3
    function UpdateKenh6Chart(data) {
        if (chartKenh6A) {
            point = chartKenh6A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh6B) {
            point = chartKenh6B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh6_status').css('background', 'green');
        }
        else {
            $('#kenh6_status').css('background', 'red');
        }
    }

    // Update Chart Kenh4
    function UpdateKenh7Chart(data) {
        if (chartKenh7A) {
            point = chartKenh7A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh7B) {
            point = chartKenh7B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh7_status').css('background', 'green');
        }
        else {
            $('#kenh7_status').css('background', 'red');
        }
    }

    // Update Chart Kenh8
    function UpdateKenh8Chart(data) {
        if (chartKenh8A) {
            point = chartKenh8A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh8B) {
            point = chartKenh8B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh8_status').css('background', 'green');
        }
        else {
            $('#kenh8_status').css('background', 'red');
        }
    }
    // Update Chart Kenh9
    function UpdateKenh9Chart(data) {
        if (chartKenh9A) {
            point = chartKenh9A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh9B) {
            point = chartKenh9B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh9_status').css('background', 'green');
        }
        else {
            $('#kenh9_status').css('background', 'red');
        }
    }
    // Update Chart Kenh10
    function UpdateKenh10Chart(data) {
        if (chartKenh10A) {
            point = chartKenh10A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh10B) {
            point = chartKenh10B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh10_status').css('background', 'green');
        }
        else {
            $('#kenh10_status').css('background', 'red');
        }
    }
    // Update Chart Kenh11
    function UpdateKenh11Chart(data) {
        if (chartKenh11A) {
            point = chartKenh11A.series[0].points[0];
            newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            if (newVal < 0 || newVal > 200) {
                newVal = data.Ptotal ? parseFloat(data.Ptotal) : 0;
            }
            point.update(newVal);
        }
        if (chartKenh11B) {
            point = chartKenh11B.series[0].points[0];
            newVal = data.Kwh ? parseFloat(data.Kwh) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = data.Kwh ? parseFloat(data.Kwh) : 0;
            }
            point.update(newVal);
        }
        // Update button xanh/đỏ
        if (data.status == 0) {
            $('#kenh11_status').css('background', 'green');
        }
        else {
            $('#kenh11_status').css('background', 'red');
        }
    }

    var gaugeOptions = {
        chart: {
            type: 'solidgauge',
            backgroundColor: '#1c2a47',
            colors: ['#ffff']
        },
        title: null,
        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },
        tooltip: {
            enabled: false
        },
        exporting: { enabled: false },
        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55bf3b'], // green
                [0.5, '#dddf0d'], // yellow
                [0.9, '#df5353'] // red
            ],
            lineWidth: 0,
            tickWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -75,
                fontWeight: 'bold',
                fontSize: '25px'
            },
            labels: {
                y: 16
            }
        },
        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true,
                    color: '#fff'
                }
            }
        }
    };

    var chartKenh4A = Highcharts.chart('chartKenh4A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh4.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh4B = Highcharts.chart('chartKenh4B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh4.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

    var chartKenh5A = Highcharts.chart('chartKenh5A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh5.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh5B = Highcharts.chart('chartKenh5B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh5.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

    var chartKenh6A = Highcharts.chart('chartKenh6A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh6.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh6B = Highcharts.chart('chartKenh6B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh6.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

    var chartKenh7A = Highcharts.chart('chartKenh7A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh7.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh7B = Highcharts.chart('chartKenh7B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh7.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

    var chartKenh8A = Highcharts.chart('chartKenh8A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh8.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh8B = Highcharts.chart('chartKenh8B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh8.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    
    var chartKenh9A = Highcharts.chart('chartKenh9A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh9.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh9B = Highcharts.chart('chartKenh9B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh9.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

    var chartKenh10A = Highcharts.chart('chartKenh10A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh10.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh10B = Highcharts.chart('chartKenh10B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh10.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

    var chartKenh11A = Highcharts.chart('chartKenh11A', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'kw'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh11.Ptotal],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));
    var chartKenh11B = Highcharts.chart('chartKenh11B', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 3200,
            title: {
                text: 'kwh in day'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [kenh11.Kwh],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    '#fff' + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

</script>
